#legend {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 10px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  font-family: sans-serif;
  font-size: 14px;
}
